body {
  background-color: #cfcfcf;
}

.container {
  text-align: center;
  width: 400px;
}

#pageTitle {
  font-size: 3em;
  padding: 10px 50px;
  width: 370px;
  color: #45528A;
  border-radius: 5px;
}

.list-group-item {
  width: 370px;
  list-style: none;
  border-radius: 5px;
}

#formGroup {
  margin: 12px;
}

#taskCount {
  margin: 6px;
}

#todoText {
  margin: 10px;
  padding: 3px;
  font-size: 1em;
}

.todoTextClass {
  border: none;
}

.isCompleted {
  color: grey;
}

.btn-group {
  margin: 18px;
}

.btn {
  background-color: #e65949;
  color: white;
}

.btn-default {
  background-color: #2d3e50;
  color: white;
}
